flows.json
[{"id":"a68cadd9.125b8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"354976cf.c1cbea","type":"ui_form","z":"a68cadd9.125b8","name":"","label":"","group":"e05a0e29.ab7ea8","order":1,"width":0,"height":0,"options":[{"label":"BMI","value":"d","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Infant_Deaths","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage_Exp","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"Under_Five_Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"thinness_1to19_years","value":"m","type":"number","required":true,"rows":null},{"label":"thinness_5to9_years","value":"n","type":"number","required":true,"rows":null},{"label":"Income_Comp_Of_Resources","value":"o","type":"number","required":true,"rows":null}],"formValue":{"d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":280,"wires":[["51750750.5de488"]]},{"id":"324addd6.9763e2","type":"http request","z":"a68cadd9.125b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":210,"y":120,"wires":[["3323957.933fa6a"]]},{"id":"51750750.5de488","type":"function","z":"a68cadd9.125b8","name":"pre token ","func":"//make user given values as global variables\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\n\n\n//to receive a token\nvar apikey=\"M1lWHtbkBgt-1SJ7TfrRGDDVdtKxnkO1CIBL7OBu8uEG\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":120,"y":200,"wires":[["324addd6.9763e2"]]},{"id":"9ef84962.f2e578","type":"ui_text","z":"a68cadd9.125b8","group":"e05a0e29.ab7ea8","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":200,"wires":[]},{"id":"3323957.933fa6a","type":"function","z":"a68cadd9.125b8","name":"","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"b1eb5626-3376-4514-a1e2-2a0454d1cc8d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token, \"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\n\n\n\n//send the user values to service endpoint\nmsg.payload=\n{\"fields\":[\"BMI\", \"Adult_Mortality\", \"Infant_Deaths\",\n        \"Percentage_Exp\", \"Hepatitis_B\",\"Measles\",\" Under_Five_Deaths\",\n       \" Diphtheria\", \"HIV/AIDS\", \"thinness_1to19_years\",\"thinness_5to9_years\",\n        \"Income_Composition_of_Resources\"\n       ],\"values\":[[d,e,f,g,h,i,j,k,l,m,n,o]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["3c74f47d.fa45c4"]]},{"id":"3c74f47d.fa45c4","type":"http request","z":"a68cadd9.125b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b1eb5626-3376-4514-a1e2-2a0454d1cc8d/deployments/bbc7ca66-5a49-4ab5-8f25-4718f2b5a9fe/online","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":300,"wires":[["ac8f75a8.3a8098","42cb50ca.593228"]]},{"id":"42cb50ca.593228","type":"function","z":"a68cadd9.125b8","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["1da81eb2.a171c9","9ef84962.f2e578"]]},{"id":"1da81eb2.a171c9","type":"debug","z":"a68cadd9.125b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":40,"wires":[]},{"id":"ac8f75a8.3a8098","type":"debug","z":"a68cadd9.125b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":340,"wires":[]},{"id":"e05a0e29.ab7ea8","type":"ui_group","z":"","name":"group3","tab":"2a75053f.f05e52","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a75053f.f05e52","type":"ui_tab","z":"","name":"tab3","icon":"dashboard","disabled":false,"hidden":false}]